<div id="login-page">

        <div id="success-loader">
                <h2>Welcome back, {{user.user_name}}.</h2>
                <h4 class="text-left" id="loading-txt">Loading your field agents<span id="dots"></span></h4>
        </div>
</div>

<script src="/js/loading.js"></script>