<div class="d-flex flex-column align-items-center justify-content-end" id="login-page">
        <a href="/"> <img class="mb-1" src="../images/logo.png" alt="Undercover Logo"></a>
        <h2 class="mb-5" id="homepage-brand">Undercover</h2>

        <form class="container">
                <div class="row">
                        <div class="mb-3 col-12 col-lg-6">
                                <label for="signup-agency" class="form-label">Agency</label>
                                <input type="agency" class="form-control" id="signup-agency" aria-describedby="agency">
                        </div>
                        <div class="mb-3 col-12 col-lg-6">
                                <label for="signup-email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="signup-email" aria-describedby="email">
                        </div>
                </div>
                <div class="row">
                        <div class="mb-3 col-12 col-lg-6">
                                <label for="signup-username" class="form-label">Username</label>
                                <input type="username" class="form-control" id="signup-username"
                                        aria-describedby="username">
                        </div>
                        <div class="mb-3 col-12 col-lg-6">
                                <label for="signup-password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="signup-password">
                        </div>
                        <button type="submit" id="register-btn" class="register-btn btn btn-outline-light mt-3 m-auto">Register</button>
                </div>
        </form>

        <a class="mt-4 secondary-option" href="/login" id=>I already have a login</a>

</div>

<script src="/js/new-user.js"></script>