body {
    margin: auto;
    color: white;
    font-family: 'Space Mono', monospace;
    

}

nav {
    height: 150px;
}

form {
    width: 300px;
}

a {
    text-decoration: none;
}

.filter {
    cursor: pointer;
}

.fa-circle {
    position: absolute;
    right: 10px;
    top: 10px;
}

.fas.fa-plus-square{
    font-size: 1.8rem;
    cursor: pointer;
}
.fas.fa-times {
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    border: 1px solid rgb(208, 53, 53);
    background-color: rgb(206, 55, 55);
    padding: 1px 5px 1px 5px;
    border-radius: 3px;
}

.hex-bg {
    background-image: url('/images/gray-pattern.png');
}

#field-agents-headline, #add-agent-headline{
    margin: 20px;
}



.agency-name {
    font-size: 1.3rem;
    margin-left: 30px;
}

.login-btn {
    width: 100%
}

.register-btn {
    width: 50%;
}

.nav-item {
    margin: 20px;
}

.card {
    background-color: white;
    width: 250px;
    height: 250px;
}

.card-name {
    font-size: 1.4rem;
    color: black;
}

.agent-image {
    margin-top: 21px;
    width: 200px;
}

.fas {
    font-size: 1rem;
}

.green {
    color: green !important;
}

.red {
    color: rgb(184, 39, 39);
}

.hide {
    display: none;
}

#login-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#login-page img {
    width: 300px;
}

#login-page a {
    text-decoration: none;
    color: white;
}

#login-page a:hover {
    transform: scale(1.1);
    transition: all 0.4s;
}

#homepage-brand {
    font-family: 'Space Mono', monospace;
    letter-spacing: 0.5rem;
    color: white;
}

#access-btn {
    font-size: 1.2rem;
}

@media screen and (max-width: 993px) {
    .agency-name {
        display: none;
    }
}


@media screen and (max-width: 576px) {

    nav {
        height: 100px;
    }
    
    .nav-details {
        margin-top: 0px !important;
    }

    .agency-name {
        display: none;
    }
    
    form {
        width: 100% !important;
    }

    #login-page img {
        width: 150px;
    }
}